* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
a:visited,
a:link {
  color: black;
}

header,
nav,
main,
footer,
aside {
  display: block;
}

#wrapper {
  width: 80%;
  margin: 0px auto;
}

#wrapper header {
  font-family: fontawesome;
  font-size: 24px;
}
#wrapper header p {
  padding: 20px 0px;
}

#wrapper nav ul {
  display: flex;
  flex-direction: row;
}

#wrapper nav ul li {
  list-style: none;
  flex-grow: 1;
  text-align: center;
  display: table-cell;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  background-color: #0170fe;
  color: white;
  cursor: pointer;
}

#wrapper nav ul li.selected {
  background-color: #0e49b5;
}

#wrapper nav ul li:hover {
  background-color: #0e49b5;
}

#wrapper nav ul li a {
  text-decoration: none;
  font-weight: bolder;
  display: block;
}
#wrapper nav ul li a:visited {
  color: white;
}

#wrapper #container {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
}
#wrapper #container main {
  flex-grow: 1;
}
#wrapper #container aside {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
}

#wrapper #container #info img {
  width: 50%;
  max-width: 410px;
  float: left;
  padding: 5px;
}

#wrapper #container #info p {
  padding: 10px;
}

div.exercises {
  border: 1px solid #cccccc;
  text-align: center;
}

div.exercises:last-child {
  margin-top: 50px;
}

div.exercises span {
  position: relative;
  background-color: white;
  top: -12px;
  font-size: 20px;
  padding: 0px 10px;
}

div.exercises ul {
  display: block;
  padding: 0px 20px 0px 20px;
}

div.exercises ul li {
  list-style: none;
}
div.exercises ul li:hover {
  background-color: #0170fe;
}
div.exercises ul li a {
  padding: 8px 0px;
  display: block;
}

div.exercises ul li:hover a {
  color: white;
}

div.exercises p {
  text-align: left;
  text-indent: 20px;
  font-weight: bolder;
}

div.exercises p::after {
  display: inline-block;
  width: 60%;
  height: 1px;
  content: " ";
  position: relative;
  border-top: 1px dotted #cccccc;
  top: -4px;
  left: 5px;
}

#screenshotWrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  clear: both;
}

#screenshotWrapper div {
  flex-grow: 1;
  /* width: 50%; */
}

#screenshotWrapper div p {
  font-size: 24px;
}

img.screenshot {
  width: 100%;
}

footer {
  padding: 10px 50px;
  display: flex;
  justify-content: flex-end;
  background-color: #0170fe;
}

footer span {
  padding: 0px 20px;
}
footer span a {
  text-decoration: underline;
  color: white;
}

footer span a:hover {
  color: #ff884b;
}
