$themeColor: #19456b;
$navColor: #d9dab0;
$navHoverColor: #ff8e71;
$days: (
  "Monday": #583d72,
  "Tuesday": #5eaaa8,
  "Wednesday": #9f5f80,
  "Thursday": #83a95c,
  "Friday": #a9294f,
  "Saturday": #db6400,
  "Sunday": #949cdf,
);
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}
a:link,
a:visited,
a {
  color: black;
  text-decoration: none;
}
%wrapperWidth {
  width: 80%;
  margin: 0px auto;
}
div#wrapper {
  header {
    background-color: $themeColor;

    div#headContent {
      @extend %wrapperWidth;
      position: relative;
      height: 150px;
      line-height: 150px;

      img {
        position: relative;
        vertical-align: middle;
        left: 50px;
      }
      nav {
        position: absolute;
        top: 20px;
        right: 20px;
        ul {
          display: flex;
          flex-direction: row;
          li {
            a {
              padding: 5px 10px;
              line-height: normal;
              display: block;
              color: $navColor;
              font-weight: bolder;
              &:hover {
                color: $navHoverColor;
              }
              &.selected {
                color: $navHoverColor;
              }
            }
          }
        }
      }
    }
  }
  main {
    @extend %wrapperWidth;
    padding: 50px 0px;
    &#daily {
      width: 800px;
      display: flex;
      flex-direction: row;
      div#dailyLeft {
        @each $day, $color in $days {
          &.#{$day} {
            color: $color;
            span {
              background-color: $color;
            }
          }
        }
        flex-grow: 1;
        p#title {
          font-size: 24px;
          padding: 10px;
          font-weight: bold;
          span {
            height: 10px;
            width: 120px;
            display: inline-block;
            border-radius: 20px;
            margin-left: 10px;
            vertical-align: middle;
          }
        }
        div {
          img {
            width: 500px;
          }
        }
        p#instruction {
          padding: 10px;
          text-indent: 10px;
          width: 500px;
          line-height: 25px;
          font-weight: bold;
        }
      }
      aside {
        flex-basis: 260px;
        flex-grow: 0;
        flex-shrink: 0;
        div#dailyWrapper {
          margin-top: 50px;
          border: 1px solid #999999;
          border-radius: 3px;
          text-align: center;
          span {
            background-color: white;
            font-weight: bolder;
            padding: 0px 5px;
            position: relative;
            top: -8px;
          }
        }
        img {
          height: 350px;
        }
        ul li a {
          display: block;
          padding: 5px;

          @each $day, $color in $days {
            &.#{$day} {
              color: $color;
            }
          }
          &:hover {
            background-color: $themeColor;
            color: $navColor;
          }
        }
      }
    }
    &#home {
      padding: 0px 0px;
      // div.content {
      // }
      .mainWrapper {
        display: flex;
        flex-direction: row;
        width: 1200px;
        margin: 0px auto;
        h1 {
          padding: 5px 0px;
          color: $themeColor;
          font-size: 22px;
        }
        .main-left {
          padding: 20px;
          //flex-grow: 0;
          img {
            height: 380px;
          }
        }
        .main-right {
          padding: 20px;
          color: $themeColor;
          flex-grow: 1;
          flex-shrink: 1;
          max-width: 650px;
          p {
            padding: 10px 0px;
            text-indent: 15px;
          }
          //flex-basis: 400px;
        }
      }
    }
    &#contact {
      padding: 0px 0px;
      .mainWrapper {
        display: flex;
        flex-direction: row;
        width: 900px;
        margin: 0px auto;
        h1 {
          padding: 5px 0px;
          color: $themeColor;
          font-size: 22px;
        }
        .main-left {
          flex-grow: 1;
          padding: 20px;
          form {
            fieldset {
              padding: 10px;
              label {
                display: block;
                padding: 10px 0px;
              }
              li {
                padding: 5px 0px;
                input {
                  margin-right: 5px;
                }
              }
              .error-msg {
                display: block;
                color: red;
                font-style: italic;
              }
              p.p-buttons {
                margin-top: 10px;
                input[type="submit"],
                input[type="button"] {
                  padding: 5px 10px;
                  cursor: pointer;
                  outline: none;
                }
                input[type="button"] {
                  margin-left: 5px;
                }
              }
            }
          }
        }
        .main-right {
          padding: 20px;
          color: $themeColor;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 400px;
          img {
            width: 400px;
          }
        }
      }
    }
    &#thanks {
      .content {
        pre {
          line-height: 30px;
        }
      }
    }
    &#gallery {
      table {
        width: 1250px;
        margin: 0px auto;
        img {
          width: 300px;
        }
        border-collapse: collapse;
        tr.gallery-tr {
          background-color: #a7c5eb;
        }
        tr.gallery-tr-2 {
          background-color: #eae3c8;
        }
        td {
          padding: 5px;
          //text-align: center;
        }
        td.gallery-name {
          text-align: center;
        }
        td.gallery-description {
          width: 500px;
          text-indent: 20px;
        }
      }
    }
    &#keyborads {
      .content {
        ul {
          li {
            padding: 10px;
            border: 1px solid $themeColor;
            border-radius: 3px;
            width: 320px;
            height: 300px;
            float: left;
            margin: 10px;
            img {
              width: 280px;
              height: 200px;
              object-fit: cover;
              border-radius: 3px;
            }
            p.keyboard-name {
              text-align: center;
              font-size: 18px;
              margin-top: 20px;
              font-weight: bolder;
              a {
                text-decoration: underline;
                &:hover {
                  color: $navHoverColor;
                }
              }
            }
            &:hover {
              border: 1px solid $navHoverColor;
              box-shadow: 0px 0px 5px $navHoverColor;
            }
          }
          &::after {
            clear: both;
            display: block;
            content: " ";
            height: 0px;
            width: 0px;
          }
        }
      }
    }
    &#keyborad-view {
      div.content {
        div {
          float: left;
          padding: 10px;
        }
        div#kb-view-left {
          img {
            width: 450px;
            height: 280px;
            object-fit: cover;
          }
        }
        div#kb-view-right {
          p {
            font-size: 24px;
            font-weight: bolder;
            padding: 5px 0px;
          }
          table {
            border-collapse: collapse;
            td {
              border: 1px solid #999999;
              padding: 5px 10px;
            }
            td.td-label {
              background-color: #eee;
              font-weight: bolder;
            }
          }
        }
        &::after {
          clear: both;
          display: block;
          content: " ";
          height: 0px;
          width: 0px;
        }
      }
    }
    &.temporary {
      .content {
        color: $navColor;
        padding: 10px;
        height: 325px;
        background-color: $themeColor;
      }
      .mainWrapper {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        .main-left {
          padding: 20px;
          color: $navColor;
          background-color: $themeColor;
          flex-grow: 1;
          height: 200px;
        }
        .main-right {
          padding: 20px;
          color: $navColor;
          background-color: $themeColor;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 400px;
          height: 200px;
        }
      }
    }
  }
  footer {
    padding: 5px;
    @extend %wrapperWidth;
    background-color: $themeColor;
    ul {
      width: 640px;
      margin: 0px auto;
      display: flex;
      flex-direction: row;
      li {
        padding: 5px 10px;
        color: $navColor;
        font-weight: bolder;
        flex-grow: 1;
        text-align: center;
        a {
          color: $navColor;
          font-weight: bolder;
          text-decoration: underline;
          &:hover {
            color: $navHoverColor;
          }
        }
      }
    }
  }
}
